.site-header {
    width: 100%;
    text-align: center;
    color: white;
    background-color: #333;
    margin: 0;
}

.site-header h1 {
    margin: 0;
    padding: .5em 0;
}

.shelf-header {
    text-align: center;
    padding: 1em 0 .1em;
    border-bottom: 1px solid grey;
}

.shelf-container {
    width: 90%;
    margin: 0 auto;   
}

.book-shelf {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: top;
}

.site-footer {
    background-color: #333;
    color: white;
    font-size: .8em;
    text-align: center;
    margin: 1em 0 0;
    width: 100%;
}

.site-footer p {
    margin: 0;
    padding: .5em 0;
}